@import url(https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap);
html{font-family: 'Edu NSW ACT Foundation';}
h1{color:white;
    margin-left: 120px;
}
h2{color: white;
    margin-left: 128px;}
h3{position: relative;
    font-size: 32px;
   top:200px;
  left:20px;
color: white;}

body{background-color: white;
    position: relative;
    border: none;}

label {
    color: rgb(117, 117, 117);
}




header{
background-color:rgb(149, 222, 149);
width: 25%;
height: 100vh;
position: absolute;



}
#crie_sua_conta{position: absolute;
    margin-left: 52%;
    margin-top: 6%;
        font-size: 50px;}
#preencha_seus_dados{position: absolute;
    margin-left: 55%;
    margin-top: 10%;
        font-size: 25px;


}


article{position: absolute;
    width:60px; 
    margin-left: 52%;
    margin-top: 12%; 
}
    

#nome{width: 300px;
    height: 22px;
background-color: rgb(241, 241, 241);
border: none;
border-radius: 10px;}



#email{width: 300px;
    height: 22px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#celular{width: 300px; height: 22px;
    background-color:  rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#cidade{width: 300px; height: 22px;
background-color:  rgb(241, 241, 241);
border: none;
border-radius: 10px;}

#rua{width: 300px; height: 22px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#numero{width: 300px; height: 22px;
background-color:  rgb(241, 241, 241);
border: none;
border-radius: 10px;}

footer{width: 100%;
    height: 15vh;
   position: absolute;
    margin-top: 90vh;
    background-color: black;
    color: white;
    text-align: center;
    
    }

    #botaoentrar{ position: absolute;
        margin-left: 5%;
        width: 200px;
        height: 40px;
        margin-top: 32%;
        border: none;
        border-radius: 10px;

            }       
     #botaocadastro{position: absolute;
        margin-left: 45px;
        margin-top: 10px;
        width: 200px ;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: rgb(149, 222, 149) 
    ;color: white;}

    a {position: relative;
        font-size: 14px;
        text-decoration: none;
        color: rgb(52, 51, 51);
        text-transform: uppercase;
        margin: 14px;
        top:110px;
        color: white;

    }
