@import url(https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap);
html{font-family: 'Edu NSW ACT Foundation';}
h1{color:white;
    margin-left: 120px;
}
h2{color: white;
    margin-left: 128px;}
h3{position: relative;
    font-size: 32px;
   top:200px;
  left:20px;
color: white;}

body{background-color: white;
    position: relative;
    border: none;}

label {
    color: rgb(117, 117, 117);
}




header{
background-color:rgb(149, 222, 149);
width: 25%;
height: 200vh;
position: absolute;



}

img {
    width: 60px;
    position: absolute;
    left: 150px;
}

#crie_sua_conta{position: absolute;
    margin-left: 52%;
    margin-top: 6%;
        font-size: 50px;}
#preencha_seus_dados{position: absolute;
    margin-left: 55%;
    margin-top: 10%;
        font-size: 25px;


}


article{position: absolute;
    width:60px; 
    margin-left: 52%;
    margin-top: 12%; 
}
    

#nome{width: 300px;
    height: 22px;
background-color: rgb(241, 241, 241);
border: none;
border-radius: 10px;}



#email{width: 300px;
    height: 22px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#celular{width: 300px; height: 22px;
    background-color:  rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#bairro{width: 300px; height: 22px;
background-color:  rgb(241, 241, 241);
border: none;
border-radius: 10px;}

#rua{width: 300px; height: 22px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;}

#numero{width: 300px; height: 22px;
background-color:  rgb(241, 241, 241);
border: none;
border-radius: 10px;}

footer{width: 100%;
    height: 15vh;
   position: fixed;
   bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    }

    #botaoentrar{ position: absolute;
        margin-left: 5%;
        width: 200px;
        height: 40px;
        margin-top: 32%;
        border: none;
        border-radius: 10px;

            }       


    a {position: relative;
        font-size: 14px;
        text-decoration: none;
        color: rgb(52, 51, 51);
        text-transform: uppercase;
        margin: 14px;
        top:110px;
        color: white;

    }

    .secao_pedido {
        position: absolute;
        top: 500px;
        width: 1503px;
        padding-bottom: 550px;
    }

    #faca_seu_pedido {
        position: absolute;
        margin-left: 52%;
        font-size: 50px;
    }

    .escolha_o_prato {
        position: absolute;
        margin-left: 55%;
        margin-top: 10%;
        font-size: 25px;
    }

    #pratos {
        position: absolute;
        top: 210px;
        left: 810px;
    }

    .titulo_valor, .titulo_pontos {
        position: absolute;
        top: 250px;
        left: 810px;
    }

    .titulo_pontos {
        top: 290px;
    }

    #botaocadastro, #botao_mostrar_valor{position: absolute;
        top: 330px;
        left: 760px;
        margin-left: 45px;
        margin-top: 10px;
        width: 200px ;
        height: 40px;
        border: none;
        border-radius: 10px;
        background-color: rgb(149, 222, 149)
    ;color: white;}

    #botao_mostrar_valor {
        top: 197px;
        left: 960px;
        height: fit-content;
        padding: 5px;
        width: fit-content;
        background-color: rgb(117, 117, 117);
    }

    select, #mostrar_valor, #mostrar_pontos {
        font-family: 'Edu NSW ACT Foundation';
        font-size: 18px;
    }

    #mostrar_valor {
        position: absolute;
        top: 250px;
        left: 910px;
        border: none;
    }

    #mostrar_pontos {
        position: absolute;
        top: 290px;
        left: 930px;
        border: none;
    }